/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */

.c-white {
    color: white;
}

/* header */

header{
    height: 10vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(9, 11, 15, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* opacity: 0.2; */
}

header .upgrade{
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 10px;
    color: white;
    font-size: 0.8em;
}

/* aside */

aside{
    height: 90vh;
    width: 50px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside .side-up{
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside .img-aside{
   width: 70%;
   margin: 5px 0;
}

aside .side-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#download-aside{
    width: 40%;
    margin-bottom: 15px;
}

aside .side-bottom .profile {
    background-color: gray;
    border-radius: 50%;
}

/* main */

main{
    height: calc(100vh - 10vh);
    background-color: rgb(16, 19, 26);
}

/* footer */

footer{
    height: 10vh;
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: space-between;
}

    /* footer-left */

.footer-left{
    display: flex;
    align-items: center;
    flex-basis: calc((100% / 3) - 10px);
}

.f-l-left img{
    width: 30px;
    margin: 0 10px;
}

.f-l-center{
    color: rgb(99, 99, 99);
    margin-right: 10px;
    font-size: smaller;
}

.f-l-center h4{
    color: white;
}

.f-l-right{
    color: rgb(99, 99, 99);
}

    /* footer-center */

.footer-center{
    flex-basis: calc(100% / 3);
    margin: 0 20px;
}

.f-c-up{
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: 15px;
}

.f-c-bottom{
    display: flex;
}

.f-c-bottom .minute{
    align-self: center;
    color: white;
    font-size: small;
    padding: 5px;
}

.music-bar{
    background-color: rgb(72, 72, 72);
    height: 3px;
    width: 70%;
    margin: 20px auto;
    border-radius: 10px;
}

.music-bar-level{
    background-color: rgb(181, 181, 181);
    height: 3px;
    width: 30%;
    border-radius: 10px;
}

    /* footer-right */

.footer-right{
    flex-basis: calc((100% / 3) - 10px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.volume-bar{
    background-color: rgb(72, 72, 72);
    height: 3px;
    width: 40%;
    border-radius: 10px;
}

.volume-bar-level{
    background-color: rgb(181, 181, 181);
    height: 3px;
    width: 30%;
    border-radius: 10px;
}

.footer-right i{
    color: white;
    padding: 0 5px;
}